.section-title {
  color: $color-text;
  font: bolder 2em  $font-family--primary;
  padding-bottom: 0.1em;
  margin-top:0.5em;
  margin-bottom:1.5em;
  border-bottom: 0.1em solid $color-text;
  display:inline-block;
}