.main-header {
  height: 50%;
  background: url("../img/front_banner1.jpg") 50%/cover no-repeat;
  height: 50%;
}

.header-title {
  @extend %header-font-color;
  font: bold 2.5em  $font-family--primary;
  border:0.1em solid $color-primary;
}

.header-subtitle {
  @extend %header-font-color;
  font: 400 1.5em  $font-family--primary;
}

.header-seo {
  @extend %header-font-color;
  font-weight: 100;
  font-size: 0.75em;
}


// PLACEHOLDERS
//-----------------------------------------------------------
%header-font-color {
  color: $color-primary;
}